{% extends 'layout/base.html' %}

{% block title %}Login{% endblock %} 
{% block container %}
      <header class="jumbotron subhead" id="overview">
      	<h1>Login</h1>
      	<p class="lead">Accedi per effettuare acquisti.</p>
      </header>

      <section style="margin-top:50px;">
  			{% if error %}
      		<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Attenzione!</strong> Le credenziali che hai inserito non sono valide.
			</div>
			{% endif %}
            <form class="form-horizontal" method="POST" action="/login">
            <div style="width:400px; margin-left:auto; margin-right:auto;">
			  <div class="control-group">
				<label class="control-label" for="inputUsername">Nome utente</label>
				<div class="controls">
				  <input type="text" id="inputUsername" placeholder="Username" name="username">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
				  <input type="password" id="inputPassword" placeholder="Password" name="password">
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn btn-small">Accedi</button>
				</div>
			  </div>
			</div>
			</form>
			<br/><br/><br/><br/>
      </section>
{% endblock %}
