{% extends 'layout/base.html' %}

{% block title %}film{% endblock %} 
{% block container %}
      <header class="jumbotron subhead">
        <h1>{{ content.title }}</h1>
        <p class="lead">con {{ content.actors }}</p>
      </header>

      <section style="margin-top:50px;">
        <div class="row">
          <div class="span8">
        <img src="/static/img/movies/{{ content.id }}.jpg" class="img-rounded" align="left" style="margin-right: 10px;"><p>{{ content.description }}</p>
          </div>
          <div class="span4">
            <div style="text-align: right;">
              <h2 style="margin-top:0px;">acquista</h2>
              <p><strong>Prezzo: </strong> <span id="price">{{ content.price }}</span> euro<br/>
              <strong>Disponibilità: </strong> immediata</p>
{% if content.login.authenticated %}
              <form class="form-inline pull-right" style="margin-top:30px;" action="{{url_for('add_cart', movie_id=content.id)}}" method="POST">
                <div class="input-append">
                  <input class="span1" type="number" style="text-align:center;" placeholder="qtà" required name="quantity">
                  <button class="btn btn-inverse" type="submit"><i class="icon-shopping-cart icon-white"></i>  Vai</button>
                </div>
              </form>
{% else %}
              <p style="margin-top:30px;">Per acquistare, <a href="{{url_for('login')}}">effettua il login</a>.</p>
{% endif %}
            </div>
          </div>
        </div>
      </section>

      <section style="margin-top:50px;">
        <div class="row">
          <div class="span8">
            <div class="page-header">
              <h2>le recensioni degli utenti</h2>
            </div>
{% if content.reviews | count > 0%}
{% for review in content.reviews %}
            <blockquote>
              <p>{% autoescape false %}{{ review.text }}{% endautoescape %}</p>
              <small>{{ review.username }}, {{ review.timestamp }}</small>
            </blockquote>
{% endfor %}
{% else %}
            Nessuno ha ancora pubblicato recensioni.
{% endif %}
          </div>
          <div class="span4">
            <div class="page-header" style="text-align: right;">
              <h2>scrivi la tua</h2>
            </div>
            <form action="" method="POST" style="text-align: right;">
              <textarea rows="5" style="width:80%;" name="review" required></textarea>
              <button type="submit" class="btn-small btn-inverse pull-right"><i class="icon-ok icon-white"></i> Invia</button>
            </form>
          </div>
        </div>
      </section>
{% endblock %}